*{
    padding: 0;
    margin: 0;
    list-style: none;
}


@font-face {
    font-family: FrontFont;
    src: url(Fonts/OleoScript-Regular.ttf);
  }



nav{
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 8vw;
}

nav > a > img{
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 7vw;
    height: 7vw;
    margin: 0.5vw 0 0.5vw 0.5vw;
}

nav > ol{
    position: absolute;
    list-style: none;
    left: 10%;
    bottom: 0;
}

nav > ol > a{
    display: inline-block;
    text-decoration: none;
    background-color: lime;
    width: 11vw;
    padding: 0 0.2vw 0.2vw 0.2vw;
    margin-left: 2vw;
    text-align: center;
    font-size: 1.8VW;
}

nav > ol > a > li{
}

li{
}

#searchbackground{
    position: relative;
    width: 100%;
    height: 540px;
    background-size:cover; 
  background-position:center; 
  background-repeat:no-repeat; 
  background-image:url('imgs/1.jpg');
}

#searchbackground > h1{
    padding-left: 30vw;
    padding-top: 5vw;
    font-size: 5vw;
    font-family: "FrontFont";
    text-shadow: 0.3vw 0.3vw #ffffff;
}

#SliderSearch{
    position: absolute;
    width: 812px;
    bottom: 40px;
    left: 23%;
}

#NewsTime{
    position: relative;
    width: 80vw;
    height: 380px;
    background-color: aqua;
    margin: 2vw 10vw 0 10vw;
    
}

#NewsTime > article{
    position: absolute;
    width: 50vw;
    height: 100%;
    background-color: rgb(162, 0, 255);
}

#NewsTime > article > img{
    width: 100%;
    height: 100%;
}

#NewsTime > article > h2{
    position: absolute;
    bottom: 13vw;
    font-size: 4vw;
    color: white;
    left: 2vw;
}

#NewsTime > article > p{
    position: absolute;
    bottom: 2vw;
    font-size: 2vw;
    color: white;
    left: 2vw;
}

#NewsTime > #Hours{
    position: absolute;
    right: 0;
    width: 20vw;
    height: 100%;
    background-color: rgb(72, 255, 0);
}

#NewsTime > #Hours > h2{
    width: 15vw;
    background-color: violet;
    margin: 2vw auto 2vw auto;
}

#NewsTime > #Hours > ol > li{
    width: 15vw;
    background-color: violet;
    margin: auto;
}

#NewsTime > #Hours > ol > li{
    font-size: 2vw;
}

#Trending { grid-area: Trend; }
#SkonLitteratur { grid-area: Skon; }
#FagLitteratur { grid-area: Fag; }
#BorneLitteratur { grid-area: Borne; }

#SubjectsGrid{
    width: 78.6%;
      margin: auto;
    height: 405px;
    background-color: tomato;
    display: grid;
  grid-template-areas:"Trend Skon Fag Borne";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#SubjectsGrid > div{
    position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#SubjectsGrid > div > .SubjectsGridTitle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3vw;
   background-color: violet;
  }

  #SubjectsGrid > div > .SubjectsGridTitle > ol{
    margin-top: 78px;
  }

  #SubjectsGrid > div > .SubjectsGridTitle > ol > li{
    text-align: left;
  }

  #maps{
      width: 80%;
      margin: auto;
  }

  #a { grid-area: a; }
  #b { grid-area: b; }
  #c { grid-area: c; }
  #d { grid-area: d; }

  footer{display: grid;
    grid-template-areas:"a b c d";
    grid-gap: 10px;
    padding: 10px;
    background-color: gre;
      margin-top: 2vw;
      width: 100%;
      height: 13vw;
      border-top: 0.3vw solid rgba(201, 201, 201, 0.548);
  }

  footer > ol{
    position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5vw;
  border-left: 0.3vw solid rgba(201, 201, 201, 0.548);

}

footer > ol:nth-child(1){
    border-left: 0vw solid rgba(201, 201, 201, 0.548);

  text-align: left;
  padding-left: 1vw;
}



footer > ol > li{
    margin-left: 1vw;
}

#SignUpInn{
    width: 100%;
    height: 40vw;
    margin-bottom: 2vw;
}

#SignUp { grid-area: SignUp; }
#SignInn { grid-area: SignInn; }

#SignUpInn{display: grid;
  grid-template-areas:"SignUp SignInn";
  grid-gap: 10px;
  padding: 10px;
    margin-top: 2vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 25vw;
}


#SignUpInn > form{
    width: 10vw;
    font-family: 'Roboto', sans-serif;
  }

  #SignUpInn > form > input{
      display: block;
      width: 25vw;
      margin-top: 2vw;
      margin-left: 2vw;
      font-size: 1.3vw;
      border-radius: 4px;
}

#SignUpInn > form > button{
    display: block;
    width: 12.5vw;
    margin-top: 0.5vw;
    margin-left: 14.75vw;
    font-size: 1.3vw;
  
}

#SignUpInn > form > h3{
    display: block;
    width: 25vw;
    margin-left: 2vw;
    font-size: 3vw;
    color: rgba(53, 53, 53, 0.687);
  
}

#SignInn{
    border-left-style: solid;
    border-color: whitesmoke;
}

